@use 'reset';
@use 'variables/globals';
@use 'themes/normal';
@use '@xyflow/react/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.app,
.app_modal,
.app_drawer {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    height: 100vh;
    background: var(--bg-color);
}

.page {
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    gap: 12px;
    position: relative;
}

.node {
	cursor: pointer;
}

path.link {
	fill: none;
	stroke: var(--inverted-bg-color);
	stroke-width: 1.5px;
}

.node circle {
	fill: var(--bg-color);
	stroke: var(--inverted-bg-color);
	stroke-width: 1.5px;
}

.node text {
	font-size: 14px;
	font-weight: bold;
	fill: var(--primary-color);
}

@media (width < 1010px) {
    .page {
        padding: 0 30px;
    }

}

@media (width < 500px) {
    .page {
        padding: 0;
    }

}
