:root {
    --bg-color: #fff;
    --inverted-bg-color: #fff;
    --input-bg:  #27272a;
    --input-hover-bg:  #3f3f46;

    // текст
    --primary-color: #000000;
    --second-text-color: #828282;
    --input-text-color: #383838;

    // цвета
    --btn-bg-color: #707070
}
