.Navbar {
    width: 100%;
    height: var(--navbar-heigth);
    margin: 0;
    z-index: 100;
    padding: 20px 75px;
    background: var(--inverted-bg-color);
    box-shadow: 0 10px 20px 0 #00000040;
}

.imgWrapper {
    flex: 1 0 auto;
}
